#executables
*.exe
*.exp
*.lib
m2g
py

#python notebook
Untitled.ipynb
*checkpoint*ipynb
*.ipynb_checkpoints*

#other objects
*.pptx
*data
*bit
*.obj
*.dll
bitmap*
*data.py*
bin/data.py
foo.txt
*.pdb
